@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
:root {
  --primary-color: #AC00FC;
  --secodary-color: #F3A10F;
  --gray-color: #393939;
  --black-color: #000000;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  border: none;
  outline: none;
}

body {
  font-family: 'Poppins', sans-serif;
}

.text-primary {
  color: var(--primary-color);
}

h5 {
  font-size: 18px;
  color: var(--gray-color);
  margin-top: 8px;
  margin-bottom: 32px;
}

p {
  margin-bottom: 16px;
  color: #747474;
}

a {
  color: var(--primary-color);
  font-weight: 600;
}

span {
  margin-bottom: 32px;
}

.btn-primary {
  background-color: var(--primary-color);
  color: #FFFFFF;
  padding: 16px 32px;
  margin-top: 16px;
}

header {
  padding: 26px;
  border-bottom: 1px solid #f1f1f1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#logotype #bg {
  fill: var(--primary-color);
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav > a {
  margin-right: 32px;
  text-transform: uppercase;
  font-weight: 600;
  color: var(--black-color);
}

nav > a.active {
  color: var(--primary-color);
  position: relative;
}

nav > a.active::before {
  position: absolute;
  content: "";
  background-color: var(--primary-color);
  width: 6px;
  height: 6px;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  bottom: -10%;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

nav > a > img {
  width: 28px;
  height: 28px;
}

.hero__body {
  padding: 64px 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero__body--image {
  width: 60%;
}

.hero__body--texts {
  width: 30%;
}

.hero__body--image > img {
  width: 100%;
}

.social-icon {
  margin: 36px 0;
}

.social-icon > a {
  margin-right: 16px;
}

footer {
  background-color: var(--black-color);
  margin-top: 60px;
  padding: 60px 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__email > a {
  color: #FFFFFF;
  font-size: 48px;
}

.footer__logo,
.footer__email,
.footer__love {
  margin-bottom: 40px;
  color: var(--gray-color);
  text-align: center;
}

#Path_3 {
  animation: wave 10s infinite;
  -webkit-animation: wave 10s infinite;
}

#Ellipse_16 {
  animation: bounce 10s infinite;
  -webkit-animation: bounce 10s infinite;
  fill: var(--primary-color);
}

circle#Ellipse_17,
#Ellipse_11,
#Ellipse_13,
#Ellipse_14 {
  fill: var(--primary-color);
}

path#Path_11 {
  fill: var(--black-color);
}

@-webkit-keyframes wave {
  0% {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }
  50% {
    transform: translateX(100px);
    -webkit-transform: translateX(100px);
    -moz-transform: translateX(100px);
    -ms-transform: translateX(100px);
    -o-transform: translateX(100px);
  }
  100% {
    transform: translate(0);
    -webkit-transform: translate(0);
    -moz-transform: translate(0);
    -ms-transform: translate(0);
    -o-transform: translate(0);
  }
}

@keyframes wave {
  0% {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }
  50% {
    transform: translateX(100px);
    -webkit-transform: translateX(100px);
    -moz-transform: translateX(100px);
    -ms-transform: translateX(100px);
    -o-transform: translateX(100px);
  }
  100% {
    transform: translate(0);
    -webkit-transform: translate(0);
    -moz-transform: translate(0);
    -ms-transform: translate(0);
    -o-transform: translate(0);
  }
}

@-webkit-keyframes bounce {
  0% {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }
  50% {
    transform: translateY(100px);
    -webkit-transform: translateY(100px);
    -moz-transform: translateY(100px);
    -ms-transform: translateY(100px);
    -o-transform: translateY(100px);
  }
  100% {
    transform: translate(0);
    -webkit-transform: translate(0);
    -moz-transform: translate(0);
    -ms-transform: translate(0);
    -o-transform: translate(0);
  }
}

@keyframes bounce {
  0% {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }
  50% {
    transform: translateY(100px);
    -webkit-transform: translateY(100px);
    -moz-transform: translateY(100px);
    -ms-transform: translateY(100px);
    -o-transform: translateY(100px);
  }
  100% {
    transform: translate(0);
    -webkit-transform: translate(0);
    -moz-transform: translate(0);
    -ms-transform: translate(0);
    -o-transform: translate(0);
  }
}

@media screen and (max-width: 900px) {
  .hero__body--image {
    width: 50%;
  }
  .hero__body--texts {
    width: 40%;
  }
}

@media screen and (max-width: 610px) {
  header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .hide-name {
    display: none;
  }
  nav {
    margin-top: 32px;
  }
  nav > a {
    margin-right: 16px;
  }
  .hero__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .hero__body--image,
  .hero__body--texts {
    width: 100%;
  }
  .hero__body--texts {
    margin-top: 32px;
  }
  .hero__body--texts > h5 {
    font-size: 24px;
  }
  .btn {
    display: block;
    width: 100%;
    text-align: center;
  }
  footer {
    margin-top: 10px;
  }
  .footer__email > a {
    font-size: 36px;
  }
}

@media screen and (max-width: 320px) {
  .footer__email > a {
    font-size: 24px;
  }
}
/*# sourceMappingURL=style.css.map */